html {
  background: #3f4c6b;
  background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b));
  background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%);
  background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%);
  background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%);
  background: linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 );
  padding: 2em;
}

body {
  background: #feffff;
  background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9));
  background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
  background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
  background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
  background: linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px outset;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  font-family: "Calibri", sans;
  font-size: 1.3em;
}

h1 {
  margin: 0.1em 0.2em;
  line-height: 1.2em;
  font-family: 'Inika', serif;
  font-weight: normal;
  font-size: 2.4em;
}
h1 .graphic {
  color: rgb(47,51,161);
}

#input {
  position: absolute;
  top: 5.4em;
  right: 50%;
  left: 1.2em;
  bottom: 4.2em;
  border: 1px inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #EFEFEF;
}

#buttons {
  position: absolute;
  bottom: 1.0em;
  left: 1.2em;
  right: 50%;
}

#buttons * {
  vertical-align: middle;
}
#buttons label {
  font-size: 0.7em;
}


#output {
  position: absolute;
  top: 3.4em;
  left: 50%;
  right: 1.2em;
  bottom: 1.2em;
  font-size: 0.7em;
  padding: 0 1em;
  overflow-y: scroll;
}

.prettyBox {
  padding: 1em;
  margin: 1em;
  border: 1px outset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.prettyBox p, .prettyBox pre {
  margin-bottom: 0;
}
.prettyBox h3 {
  margin: 0;
}

.prettyBox.success {
  background: rgb(205,235,142);
  background: -moz-linear-gradient(-45deg, rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1)));
  background: -webkit-linear-gradient(-45deg, rgba(205,235,152,1) 0%,rgba(165,201,86,1) 100%);
}
.prettyBox.error, .prettyBox.internalError {
  color: white;
  background: rgb(169,3,41);
  background: -moz-linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(106,0,25,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(169,3,41,1)),color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
  background: -webkit-linear-gradient(-45deg,rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
}
