/* FONT IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Bangers);@import url(http://fonts.googleapis.com/css?family=Bangers);

/* GENERAL STYLES */

.step h1 {
  font-size: 130px;
}
.step h2 {
  font-size: 85px;
}
.step h3 {
  font-size: 50px;
  font-weight: bold;
}
.step pre {
  font-family: monospace;
  font-size: 0.8em;
  padding: 0.5em;
  border: 1px inset;
  border-radius: 16px;
  background-color: rgba(0,0,128,0.05);
}
.step pre + pre {
  margin-top: 0.2em;
}
.step pre .prompt {
  color: rgb(0,0,128);
}
.step.stamp p {
  color: rgb(255,0,0);
  font-size: 140px;
  text-align: center;
  font-family: 'Bangers', cursive;
  -webkit-transform: rotate(15deg);
}
.step.stamp.past {
  opacity: 0;
}

.step dt {
  display: inline-block;
  clear: left;
}
.step dd {
  display: inline-block;
  clear: right;
}

.typederivations {
  zoom: 0.8;
}
.typederivations td {
  padding: 0 0.5em;
}


/* SLIDE-SPECIFIC STYLES */
#s0-start .logo {
  font-size: 180px;
  text-align: center;
  line-height: 0.9em;
}
#s0-start .logo .graphic {
  color: rgb(47,51,161);
}
#s0-start .subtitle {
  margin: 0;
  font-size: 0.95em;
  text-align: center;
  line-height: 0.5em;
}
#s0-start .author {
  margin: 1em 0 0;
  font-size: 0.6em;
  text-align: center;
}
.bullet {
  font-size: 3em;
  vertical-align: middle;
}
li.aside {
  opacity: 0.8;
}
pre .codeemph {
  color: rgb(47,51,161);
}
#s5-hamlet {
  -webkit-box-shadow: 0 0 10px 20px yellow;
  box-shadow: 0 0 10px 20px yellow;
  border-radius: 16px;
}
.step img.fit {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
